.home_wrapper{
  display: flex; flex-direction: column; /*gap: var(--gap_60);*/
  // @media all and (max-width: 768px){gap: var(--gap_40);}
  // @media all and (max-width: 450px){gap: var(--gap_28);}
}

// main banner
.mainbanner_wrap{
  margin-bottom: var(--padding_60);
  @media all and (max-width: 768px){margin-bottom: var(--padding_40);}
  @media all and (max-width: 450px){margin-bottom: var(--padding_28);}
}
.mainbanner_sec {width: 100%; overflow: hidden; padding: 20px 0;}
.mainbanner_swiper {
  overflow: visible !important;
  .swiper-slide {
    transition: all 0.5s ease-in-out; height: 400px; border-radius: var(--radius_28); background-color: purple; opacity: 0.4;  transform: scale(0.85); display: flex; align-items: center; position: relative;
    &.swiper-slide-active {opacity: 1; transform: scale(1.1);  background-color: orange; z-index: 10;}
    .slide_link{width: 100%; height: 100%;}
    .banner_text_box{position: absolute; bottom: 52px; left: 40px;}
    .banner_title{font-size: 100px; font-weight: 900; line-height: .8;}
    .babber_sub{font-size: 40px; margin-top: var(--padding_20);}
    @media all and (max-width: 1279px){
      .banner_title{font-size: 92px; font-weight: 900; line-height: .8;}
      .babber_sub{font-size: 40px;}
    }
    @media all and (max-width: 1024px){
      border-radius: var(--radius_24);
      .banner_text_box{bottom: 32px;}
      .banner_title{font-size: 80px; font-weight: 900; line-height: .8;}
      .babber_sub{font-size: 36px; }
    }
    @media all and (max-width: 768px){
      .banner_text_box{left: 28px;}
      .banner_title{font-size: 60px; font-weight: 900; line-height: .8;}
      .babber_sub{font-size: 32px; margin-top: var(--padding_16);}
    }
    @media all and (max-width: 450px){
      border-radius: var(--radius_20);
      .banner_text_box{left: 16px; bottom: 28px;}
      .banner_title{font-size: 44px; font-weight: 900; line-height: .8;}
      .babber_sub{font-size: 20px; margin-top: var(--padding_12); }
    }
  }
}

// featrue wrap
// .core_features_wrap{
//   display: grid; grid-template-columns: repeat(2, 1fr); height: 80dvh; padding: 0 var(--padding_40); gap: var(--gap_28);
//   .feature_link{
//     display: flex; position: relative; width: 100%; height: 100%; padding: var(--padding_24); z-index: var(--zi_base); border-radius: var(--radius_28); background-color: lime;
//     .text_box{
//       display: flex; flex-direction: column; gap: var(--gap_8);
//       .desc{margin-top: var(--padding_12);}
//     }
//     .img_box{
//       position: absolute; top: 0; left: 0; width: 100%; z-index: var(--zi_minus); width: 100%; height: 100%;
//       img{width: 100%; height: 100%; object-fit: cover;}
//     }
//   }
//   @media all and (max-width: 1024px){
//     padding: 0 var(--padding_20); height: 48dvh; gap: var(--gap_24);
//     .feature_link{border-radius: var(--radius_24);}
//     @media all and (max-height: 800px){height: 80dvh;}
//   }
//   @media all and (max-width: 768px){
//     grid-template-columns: repeat(1, 1fr);  height: max-content;
//   }
//   @media all and (max-width: 450px){
//     gap: var(--gap_20); padding: 0 var(--padding_16);
//      .feature_link{
//         border-radius: var(--radius_20);
//         .text_box .desc{margin-top: var(--padding_8);}
//       }
//   }
// }
.core_features_wrap{
  display: grid; grid-template-columns: repeat(2, 1fr); height: 80dvh; min-height: max-content;
  .feature_link{
    display: flex; position: relative; width: 100%; height: 100%; padding: var(--padding_60); z-index: var(--zi_base); 
    &::before {
      content: ''; position: absolute; top: 8%; left: 4%; width: 92%; height: 84%; background: linear-gradient(135deg, rgba(180, 180, 180, 0.3) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(150, 150, 150, 0.2) 100%); backdrop-filter: blur(15px);  -webkit-backdrop-filter: blur(15px); border: 1px solid rgba(255, 255, 255, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.6); border-left: 1px solid rgba(255, 255, 255, 0.6); border-radius: var(--radius_28); opacity: 0; transition: opacity 0.4s ease; z-index: var(--zi_minus); pointer-events: none; box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1), 0 10px 30px rgba(0, 0, 0, 0.05);
    }
    &:hover, &:active {
      &::before {opacity: 1;}
    }
    .text_box{
      display: flex; flex-direction: column; gap: var(--gap_12);
      .desc{margin-top: var(--padding_12);}
    }
    .img_box{
      position: absolute; top: 0; left: 0; width: 100%; z-index: var(--zi_minus); width: 100%; height: 100%;
      img{width: 100%; height: 100%; object-fit: cover;}
    }
  }
  section:first-child{
    .feature_link{background-color: lime;}
  }
  section:nth-child(2){
    .feature_link{background-color: tomato;}
  }
  section:nth-child(3){
    .feature_link{background-color: yellow;}
  }
  section:last-child{
    .feature_link{background-color: plum;}
  }
  @media all and (max-width: 1024px){
    height: max-content;
    // @media all and (max-height: 800px){height: 80dvh;}
  }
  @media all and (max-width: 768px){
    grid-template-columns: repeat(1, 1fr);  height: max-content;
    .feature_link{
      padding: var(--padding_40);
      &::before{border-radius: var(--radius_24);}
    }
  }
  @media all and (max-width: 450px){
     .feature_link{
        padding: var(--padding_40) var(--padding_28);
        &::before{border-radius: var(--radius_20);}
        .text_box{
          gap: var(--gap_8);
          .desc{margin-top: var(--padding_12); letter-spacing: -1.4px;}
        }
      }
  }
  @media all and (max-width: 360px){
     .feature_link{
        padding: var(--padding_28) var(--padding_20);
        .text_box .desc{letter-spacing: -1.6px;}
      }
  }
}

// device guide
.device_parallax_wrap{
  height: var(--dynamic-h, 400px); overflow-y: scroll; scroll-snap-type: none; scroll-behavior: smooth; -webkit-overflow-scrolling: touch; scrollbar-width: none; -ms-overflow-style: none;
  &::-webkit-scrollbar {display: none;}
  section.parallax_sec{
    position: sticky; top: 0; width: 100%; height: var(--dynamic-h, 400px); display: flex; align-items: center; scroll-snap-align: start; scroll-snap-stop: always; overflow: hidden; background-color: #fff; 
    &.pc { z-index: 1; }
    &.tablet { z-index: 2; }
    &.mobile { z-index: 3; }
    .title_box{
      position: absolute; left: var(--padding_60); gap: var(--gap_28);  z-index: var(--zi_base);
      &::before {content: ''; position: absolute; top: calc(-1 * var(--padding_28)); left: calc(-1 * var(--padding_28)); padding: var(--padding_28); width: 100%; height: 100%; background: linear-gradient(135deg, rgba(180, 180, 180, 0.3) 0%,   rgba(255, 255, 255, 0.5) 45%, rgba(150, 150, 150, 0.2) 100%); backdrop-filter: blur(20px); border-radius: var(--radius_28); -webkit-backdrop-filter: blur(20px); border: 1px solid rgba(255, 255, 255, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.6); border-left: 1px solid rgba(255, 255, 255, 0.6); opacity: 0; transition: opacity 0.4s ease; z-index: var(--zi_minus); pointer-events: none; box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1), 0 10px 30px rgba(0, 0, 0, 0.05);
      }
      &:has(.move_guide:hover)::before, &:has(.move_guide:active)::before {opacity: 1;}
      .move_guide{width: max-content;}
      @media all and (max-width: 768px){
        gap: var(--gap_24); left: var(--padding_40);
        &::before{top: calc(-1 * var(--padding_24)); left: calc(-1 * var(--padding_24)); padding: var(--padding_24); border-radius: var(--radius_24);}
      }
      @media all and (max-width: 450px){
        width: 100%; text-align: center; align-items: center; left: 0; top: var(--gap_40); gap: var(--gap_20);
        &::before{display: none;}
      } 
      @media all and (max-width: 360px){top: var(--gap_28); }
    }
    picture{width: 100%;}
    img{width: 100%; height: auto;}
  }
}

// plan wrap
.plan_wrap{position: relative; display: flex; align-items: flex-start; padding: 0 var(--padding_60); gap: var(--gap_60);}
.sticky_box{
  position: sticky; top: 0; left: 0; display: flex; align-items: center; justify-content: space-between; z-index: var(--zi_base); flex-direction: column; width: max-content; height: 100dvh; padding: var(--padding_80) 0;
  &::before{content: ''; position: absolute; top: 0; left: calc(50% - 1px); width: 2px; height: 100%; background-color: $text_default;}
  .dot{
    width: var(--scale_28); height: var(--scale_28); border-radius: 100%; background-color: $text_default; border: 2px solid $text_default; display: flex; align-items: center; justify-content: center; position: relative; z-index: var(--zi_base);
    span{width: 60%; height: 60%; background-color: $point_primary; border-radius: 100%; transform: translate(0, 0) scale(0); transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.2); }
    &.active{
      background-color: $white; border: 2px solid $point_primary;
      span{transform: translate(0, 0) scale(1);}
    }
  }
}
.plan_secs_container{
  flex: 1;
  .plan_sec{
    padding: var(--padding_60) 0; display: flex; flex-direction: column; gap: var(--gap_28);
    .top{
      display: flex; justify-content: space-between;
      > div{
        display: flex; flex-direction: column; gap: var(--gap_20);
        .big span{color: $gray1;}
      }
      a{
        width: max-content; min-width: 320px;
        &.search_plan{width: 100%;}
      }
    }
    .bottom{
      display: flex; gap: var(--gap_28);
      > div{;}
      .big{margin-bottom: var(--padding_12);}
    }
    .edition_desc_box{
      > div{flex: 1; padding: var(--padding_28); width: 100%; height: 100%; background: linear-gradient(135deg, rgba(180, 180, 180, 0.3) 0%,   rgba(255, 255, 255, 0.5) 45%, rgba(150, 150, 150, 0.2) 100%); backdrop-filter: blur(20px); border-radius: var(--radius_28); -webkit-backdrop-filter: blur(20px); border: 1px solid rgba(255, 255, 255, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.6); border-left: 1px solid rgba(255, 255, 255, 0.6); box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1), 0 10px 30px rgba(0, 0, 0, 0.05);}
      
    }
    .download_box{
      .left{
        > div{
          display: flex; gap: var(--gap_20);
          a{
            width: 200px; height: 60px; border-radius: var(--radius_12); overflow: hidden;
            img{width: 100%; height: 100%; object-fit: cover;}
          }
        }
      }
      .right{
          flex: unset;
          img{width: 200px; height: 200px;}
        }
    }
  }
}